			@charset "UTF-8";

			body {
			  font-family: Arial;
			  font-size: 13pt;
			  background-color: #ffac3a;
			}


			div#interface {
			position: relative;
			width: 300px;
			background-color: rgb(249,249,249);
			margin: -30px auto 0px auto;
			box-shadow: 0px 0px 80px black;
			padding: 30px;
			}




			header#cabecalho {
			height: 200px;
			}


			p {
			text-indent: 50pt;
			text-align: justify;
			}